@import"https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard-dynamic-subset.css";
@font-face {
  font-family: "Cafe24Ssurround";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24Ssurround.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Ownglyph_jooreeletter-Rg";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2405-2@1.0/Ownglyph_jooreeletter-Rg.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
ul,ol {
  padding: 0;
  list-style: none
}

.font-1-white {
  font-family: "Pretendard-Regular";
  color: white;
}

.font-2 {
  font-family: "Ownglyph_jooreeletter-Rg";
}

.cake-username {
  color: #51dcdb;
  background: none;
  margin-right: 0.1875rem;
}
body {
  font-family: "Pretendard-Regular";
  color: #444;
  margin: 0;
  font-size: 16px;
  line-height: 1.25rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  word-break: keep-all;
}

a {
  text-decoration: none;
  color: #4f92af;
}
mark {
  color: inherit;
  background: inherit
}
a:hover {
  color: #5eb8df;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
.font-primary {
  font-family: "Raleway", sans-serif;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/


#header {
  height: 80px;
  padding: 20px 0;
  position: relative;
  z-index: 10;
  background-color: #222530;
  font-family: "Pretendard-Regular";
}

#header .logo h1 {
  font-size: 36px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 300;
  letter-spacing: 3px;
}

#header .logo h1 a,
#header .logo h1 a:hover {
  color: #fff;
  text-decoration: none;
}

#header .logo img {
  padding: 0;
  margin: 0;
  max-height: 40px;
}

#header .contact-link a {
  color: #fff;
  padding-right: 10px;
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

#header .contact-link a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  #header .logo h1 {
    font-size: 28px;
    padding: 8px 0;
  }
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#message_list {
  min-width: 37rem;
}
#hero {
  width: 100%;
  height: 100vh;
  background: url("../img/hero-bg.jpg") top center;
  background-size: cover;
  position: relative;
  margin-top: -80px;
  z-index: 9;
  /* countdown */
}
.hero-top {
  height: 80px;
  background-color: #222530;
}

.hero-list {
  width: 100%;
  height: 100vh;
  background-position: center center;
  position: relative;
  background-size: cover;
  background-image: url(../img/list-back.png);
  background-repeat: repeat-x;
}

.infoBox{
  position: relative;
  margin: 0px auto;
  background-color: rgba(0, 0, 0, 0.5);
  width: 37rem;
  height: 100vh;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
.infoBoxFlex{
  display: flex;
}
.hero-list-h3 {
  font-size: 2rem;
  line-height: 2rem;
  font-weight: bold;
  font-family: 'Pretendard';
  text-shadow: 0px 2px 2px rgba(0, 0, 0, .9);
}
.message-length{
  font-size: 1.2rem;
  line-height: 1.5rem;
  font-weight: 500;
  color: #c3c9e0;
  font-family: 'Pretendard';
}
.btnList {
  display: flex;
  max-width: 23.4375rem;
  margin: auto;
}
.shareBtn{
  margin: 5px;
  font-size: 1rem;
  line-height: 1.25rem;
  font-weight: bold;
  width: 100%;
  height: 3.5rem;
  border-radius: 1rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.25) 0 4px 14px;
  background-color: rgba(84,89,109,0.8);
  border: none;
}
.messageBtn{
  margin: 5px;
  font-size: 1rem;
  line-height: 1.25rem;
  font-weight: bold;
  width: 100%;
  height: 3.5rem;
  border-radius: 1rem;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 14px;
  background-color: rgba(255,192,203, 0.8);
  border: none;
}

#hero .hero-container {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 0 15px;
}


#hero h1 {
  margin: 0 0 10px 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  text-transform: uppercase;
  font-family: "Cafe24Ssurround";
  color: #fff;
}

#hero h2 {
  color: #eee;
  margin-bottom: 30px;
  font-size: 24px;
  font-family: "Ownglyph_jooreeletter-Rg";
}

#hero .countdown {
  font-size: 48px;
  font-weight: 300;
  line-height: 56px;
  margin: 30px 0 60px 0;
  color: rgba(255, 255, 255, 0);
  text-shadow: 1px -15px 4px red;
}

.cakeImage {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

}
.cakeImage img {
  width: 70rem; /* Adjust the width as needed */
  height: 30rem;
  filter: drop-shadow(-4px -4px 15px rgba(0, 0, 0, 0.6));
}
.overlay {
  position: absolute;
  /*max-width: 100px; !* Ensure the title fits nicely *!*/
  a {
    color: white;
    font-size: 23px;
    text-decoration: none;
    padding: 10px;
    border-radius: 50%;
    /*background-color: rgba(255, 192, 203, 0.5);*/
    background-color: rgba(255, 0, 0, 0.4);
    text-shadow: 0px 2px 2px rgba(0, 0, 0, .9);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 2px;
  }
  img{
    position: absolute;
    width: 1.2rem;
    height: 5rem;
    filter: drop-shadow(-4px -4px 3px rgba(0, 0, 0, .5));
  }

  a:hover{
    box-shadow: rgba(0, 0, 0, 0.6) 0px 4px 2px;
    filter: drop-shadow(0px 0px 10px rgba(255, 255, 0, 0.7));
    background-color: rgba(255, 0, 0, 0.6);
    transition: all .3s ease-out;
  }
  a:hover~img {
    filter: drop-shadow(-4px -4px 2px rgba(0, 0, 0, 0.65)) drop-shadow(0px 0px 10px rgba(255, 255, 0, 0.7));
    transition: all .3s ease-out;
  }


}



.list1, .list7, .list13 {
  top: 13.8rem;
  right: 18.5rem;
  img {
    top: -5.5rem;
    left: 0.7rem;
  }
}
.list2, .list8 {
  top: 297px;
  right: 340px;
  img {
    top: -100px;
    left: 25px;
  }

}
.list3, .list9 {
  top: 297px;
  right: 242px;
  img {
    top: -100px;
    left: 14px;
  }
}
.list4, .list10 {
  top: 372px;
  right: 293px;
  img {
    top: -102px;
    left: 14px;
  }
}
.list5, .list11 {
  top: 372px;
  right: 380px;
  img {
    top: -102px;
    left: 14px;
  }
}
.list6, .list12 {
  top: 372px;
  right: 210px;
  img {
    top: -102px;
    left: 14px;
  }
}

.paging {
  display: flex;
  justify-content: center;
}
.paging-form {
  padding: 0.375rem 0.5rem;
  border-radius: 6.125rem;
  color: white;
  font-size: .875rem;
  line-height: 1.24rem;
  font-weight: 500;
  background-color: rgba(17, 21, 28, .95);
  position: relative;
  top: -4rem;
}

#messageDetail {
  border: none;
  background: transparent;
  img {
    position: absolute;
    width: 50px;
    top: -307px
  }
  .deco1 {
    right: -20px;
  }
  .deco2 {
    right: 70px;
  }
  .deco3 {
    right: 160px;
  }
  .deco4{
    right: 230px;
  }
  .deco5 {
    right: 320px;
  }
  .nameDeco {
    font-family: 'Ownglyph_jooreeletter-Rg', "Open Sans", sans-serif;
    background-image: url("/assets/img/letter.png");
    position: absolute;
    border-radius: 50%;
    color: white;
    font-size: 23px;
    text-decoration: none;
    padding: 15px;
    background-color: rgba(255, 0, 0, 0.4);
    text-shadow: 0px 2px 2px rgba(0, 0, 0, .9);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 2px;
    top: -75px;
    right: 175px;

  }
  .card-body {
    text-shadow: 0px 2px 2px rgba(0, 0, 0, .9);
    color: white;
  }
}

#messageDetail-modal {
  input, textarea {
    font-family: 'Ownglyph_jooreeletter-Rg', "Open Sans", sans-serif;
  }
  background: pink;
  background-image: url("/assets/img/letter.png");
  border-radius: 25px;
  padding: 2px;
  margin: 1px;
  .cardBackground{
    border: 0.1875rem solid rgba(255,255,255,.5);
    border-radius: 25px;
    padding: 1px;
    margin: 1px;

    .cardBody {
      border-radius: 25px;
      background-color: rgba(0, 0, 0, 0.2);
      background-image: url("/assets/img/letter.png");
      margin: 5px;
      .modal-body {
        input, textarea, input::placeholder, textarea::placeholder {
          margin: 5px;
          padding: 5px;
          text-align: left;
          background: none;
          border: none;
          color: white;
        }
      }
      .modal-footer {
        background: rgb(255, 47, 54);
        background-image: url("/assets/img/letter.png");
        border: none;
        justify-content: space-between;
        input::placeholder {
          color: white;
          text-align: left;
        }
        input {
          background-color: rgba(0, 0, 0, 0.2);
          margin: 5px;
          padding: 5px;
          text-align: left;
          border: none;
          color: white;
        }
        .writeBtn {
          background-color: rgba(0, 0, 0, 0.2);
          border: none;
          padding: 10px;
        }
        .writeBtn:hover {
          background-color: rgba(0, 0, 0, 0.4);
          transition: color .5s, background-color .5s, border-color .5s;
        }
      }
    }
  }
  color: white;
  box-shadow: 2px 7px 15px 8px rgba(0,0,0,0.3);
  max-width: 100%;

}

#message-modal-content {
  input, textarea {
    font-family: 'Ownglyph_jooreeletter-Rg', "Open Sans", sans-serif;
  }
  background: rgb(255, 47, 54);
  background-image: url("/assets/img/letter.png");
  border-radius: 25px;
  padding: 2px;
  margin: 1px;


  .cardBackground{
    border: 0.1875rem solid rgba(255,255,255,.5);
    border-radius: 25px;
    padding: 1px;
    margin: 1px;

  .cardBody {
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.2);
    background-image: url("/assets/img/letter.png");
    margin: 5px;
    .modal-body {
      input, textarea, input::placeholder, textarea::placeholder {
        margin: 5px;
        padding: 5px;
        text-align: left;
        background: none;
        border: none;
        color: white;
        text-shadow: 0px 2px 2px rgba(0, 0, 0, .9);
      }
    }
    .modal-footer {
      background: rgb(255, 47, 54);
      background-image: url("/assets/img/letter.png");
      border: none;
      justify-content: space-between;
      input::placeholder {
        color: white;
        text-align: left;
      }
      input {
        background-color: rgba(0, 0, 0, 0.2);
        margin: 5px;
        padding: 5px;
        text-align: left;
        border: none;
        color: white;
        text-shadow: 0px 2px 2px rgba(0, 0, 0, .9);
      }
      .writeBtn {
        background-color: rgba(0, 0, 0, .3);
        border: none;
        padding: 20px;
        width: auto;
        height: 100%;
        border-radius: 51%;
        font-size: 25px;

      }
      .writeBtn:hover {
        background-color: rgba(0, 0, 0, 0.4);
        transition: color .5s, background-color .5s, border-color .5s;
      }
    }
  }
  }

  color: white;
  box-shadow: 2px 7px 15px 8px rgba(0,0,0,0.3);
  max-width: 100%;


}

.flame :where(h1, h2) {

}
.cake{
width: 120px;
height: 120px;
background-image: url("/assets/img/cake.png");
background-size: cover;
background-repeat: no-repeat;
background-position: center;
position: relative;
}

.flame {
  position: absolute;
  width: 3px;
  height: 6px;
  background: radial-gradient(
    circle,
    rgba(255, 255, 0, 1) 0%,
    rgba(255, 165, 0, 1) 100%
  );
  border-radius: 50%;
  animation: flicker 1s infinite alternate; /* 지속 시간을 1초로 설정 */
  box-shadow: 0 0 20px 10px rgba(255, 255, 0, 0.6),
    0 0 30px 20px rgba(255, 165, 0, 0.4);
}
#flame1 {
  top: 2px; /* 초의 위치에 맞게 조정 */
  left: 38px; /* 초의 위치에 맞게 조정 */
}

#flame2 {
  top: -10px; /* 초의 위치에 맞게 조정 */
  left: 58px; /* 초의 위치에 맞게 조정 */
}

#flame3 {
  top: 2px; /* 초의 위치에 맞게 조정 */
  left: 79px; /* 초의 위치에 맞게 조정 */
}
@keyframes flicker {
  0% {
    transform: scale(1);
    opacity: 1;
    box-shadow: 0 0 20px 10px rgba(255, 255, 0, 0.6),
      0 0 30px 20px rgba(255, 165, 0, 0.4);
  }
  100% {
    transform: scale(1.2);
    opacity: 0.8;
    box-shadow: 0 0 25px 12px rgba(255, 255, 0, 0.8),
      0 0 35px 25px rgba(255, 165, 0, 0.5);
  }
}
#hero .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

#hero .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

#hero .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

#hero .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  animation: animate-loading-notify 1s linear infinite;
}
.login-ul {
  font-size: 1rem;
  line-height: 1.25rem;
  font-weight: 500;
  margin: 0px auto;
  padding: 0.5rem 2.5rem;
  max-width: 35rem;
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: stretch;
  align-items: stretch;
  gap: 0.5rem;
  text-align: center;
}
.login-li {
  position: relative;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
}
.kakao-a {
  width: 100%;
  height: 3.25rem;
  padding: 1rem 5.5rem;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  border-radius: 1rem;
  position: relative;
  background-color: rgb(245, 225, 75);
  color: rgb(55, 31, 31);
}
.login-img {
  width: 1.25rem;
  position: absolute;
  left: 1.5rem;
}

.login-span {
  line-height: 1.25rem;
  font-size: 1rem;
  font-weight: 700;
  font-family: "Pretendard-Regular";
}

.google-a {
  width: 100%;
  height: 3.25rem;
  padding: 1rem 5.5rem;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  border-radius: 1rem;
  position: relative;
  background-color: #ff8c9f;
  color: white;
}

.naver-a {
  width: 100%;
  height: 3.25rem;
  padding: 1rem 5.5rem;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  border-radius: 1rem;
  position: relative;
  background-color: rgb(46, 180, 1);
  color: white;
}

@keyframes animate-loading-notify {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

#hero .php-email-form input {
  border-radius: 3px;
  box-shadow: none;
  font-size: 14px;
  border: 0;
  padding: 0px 15px 2px 15px;
  width: 250px;
  height: 40px;
  margin: 0 8px;
}

#hero .php-email-form button[type="submit"] {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 7px 30px;
  border-radius: 3px;
  transition: 0.5s;
  margin: 10px;
  border: 2px solid #4f92af;
  color: #fff;
  background: #4f92af;
}

#hero .php-email-form button[type="submit"]:hover {
  background: transparent;
  color: #fff;
  border: 2px solid #fff;
}

@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}

@media (max-width: 768px) {
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }

  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }

  #hero .php-email-form input {
    margin: 0 auto;
  }
}

@media (max-width: 575px) {
  #hero .countdown {
    font-size: 32px;
    line-height: 38px;
  }
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
}

.section-bg {
  background-color: #f7fafc;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: 300;
  margin-bottom: 20px;
  padding-bottom: 0;
}

.section-title p {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# Contact Us
--------------------------------------------------------------*/
.contact h2 {
  font-family: "Cafe24Ssurround";
  color: black;
}

.contact .contact-info {
  margin-bottom: 20px;
  text-align: center;
}

.contact .contact-info i {
  font-size: 48px;
  display: inline-block;
  margin-bottom: 10px;
  color: #4f92af;
}

.contact .contact-info address,
.contact .contact-info p {
  margin-bottom: 0;
  color: #444;
}

.contact .contact-info h3 {
  font-size: 18px;
  margin-bottom: 15px;
  font-weight: 300;
  color: #999;
}

.contact .contact-info a {
  color: #000;
}

.contact .contact-info a:hover {
  color: #4f92af;
}

.contact .contact-address,
.contact .contact-phone,
.contact .contact-email {
  margin-bottom: 20px;
}

.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .error-message br + br {
  margin-top: 25px;
}

.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  animation: animate-loading 1s linear infinite;
}

.contact .php-email-form input,
.contact .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
}

.contact .php-email-form input:focus,
.contact .php-email-form textarea:focus {
  border-color: #4f92af;
}

.contact .php-email-form button[type="submit"] {
  background: #4f92af;
  border: 0;
  padding: 10px 24px;
  color: #fff;
  transition: 0.4s;
}

.contact .php-email-form button[type="submit"]:hover {
  background: #72a8bf;
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@media (min-width: 768px) {
  .contact .contact-phone {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
  }

  .contact .contact-address,
  .contact .contact-phone,
  .contact .contact-email {
    padding: 20px 0;
  }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background: #0d182d;
  padding: 30px 0;
  color: #fff;
  font-size: 14px;
}

#footer .copyright {
  text-align: center;
}

#footer .credits {
  padding-top: 10px;
  text-align: center;
  font-size: 13px;
  color: #fff;
}

#footer .credits a {
  color: #72a8bf;
}

/* 모달 스타일링 */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: center; /* 수평 중앙 정렬 */
  align-items: flex-end; /* 수직 아래 정렬 */
}

.modal-content {
  background-color: rgb(34, 37, 48);
  margin: 15% auto;
  padding: 20px;
  border: none;
  width: 80%;
  max-width: 300px;
  position: relative;
  transform: translateY(100%); /* 처음 위치를 화면 아래로 설정 */
  animation: slideUp 0.5s forwards; /* 슬라이드 업 애니메이션 */
}
.modal-content input {
  margin: 5px auto;
  padding: 5px;
  border: none;
  border-radius: 8px;
  width: 100%;
  text-align: center;
  background-color: white;
  box-sizing: border-box; /* 패딩과 테두리를 포함하도록 설정 */
  font-family: "Pretendard-Regular";
}
.modal-content input::placeholder {
  color: rgba(0, 0, 0, 0.8); /* placeholder 텍스트 색상 */
  text-align: center; /* placeholder 텍스트 중앙 정렬 */
}
.close-button {
  color: #aaa;
  position: absolute;
  right: -30px;
  top: -10px;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close-button:hover,
.close-button:focus {
  color: black;
  text-decoration: none;
}

#register {
  background-color: #ff8c9f;
  color: white;
}
#regBtn {
  background-color: #0a53be;
  color: white;
}


textarea {
  width:100%;
}

input[type=submit] {
  margin-top:10px;
}
/* 페이드 인 애니메이션 */
@keyframes slideUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}


#shareModalBox {
  .shareModal-Top {
    flex-direction: column;
  }
  .shareBtn2 {
    width: 100%;
  }
  border-color: rgba(0,0,0,.2);
  background-color: rgba(0,0,0,.4);
  color: white;
  box-shadow: 2px 7px 15px 8px rgba(0,0,0,0.3);
}

#sideMenu {
  font-family: 'Pretendard-Regular';

  background-color: #222530;
  border: none;
  a {
    font-size: 25px;
    text-decoration: none;
    color: white;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, .9);
  }
}

.hover-up {
  -webkit-transition: all 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
  transition: all 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
}

.hover-up:hover {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
  -webkit-transition: all 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
  transition: all 0.25s cubic-bezier(0.02, 0.01, 0.47, 1);
}

.btn-hamb {
  color: white;
}

.btn-hamb:hover {
  color: pink;
  transition: color .5s, background-color .5s, border-color .5s;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, .9);
}




/*
회원가입*/

#signup-page {
  font-family: 'Pretendard-Regular', sans-serif;
  .signup-form {
    margin: auto;
    padding: 3rem;
    background-color: rgba(0,0,0,.5);
    input {
      color: white;
      background: none;
      border: none;
      border-radius: 0;
      border-bottom: thin solid white;
    }
    ::placeholder {
      color: white;
    }
    input[type='date']::before {
      content: attr(data-placeholder);
    }
    button {
      width: 100%;
      border: none;
      background-color: rgba(255, 165, 181, 0.85);
      text-shadow: 0px 2px 2px rgba(0, 0, 0, .9);
    }
    button:hover{
      background-color: rgba(255, 145, 165, 0.39);
      transition: color .5s, background-color .5s, border-color .5s;
    }
  }
}