<header id="header" th:fragment="navbarFragment">
    <div
            class="container-fluid d-flex justify-content-between align-items-center"
    >
        <div class="logo">
            <h1 class="text-light">
                <a href="index.html"><span></span></a>
            </h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
        </div>

        <div class="contact-link float-right">
            <a href="#contact" class="scrollto">둘러보기</a>
            <a class="nav-link" sec:authorize="isAnonymous()" th:href="@{/user/login}">로그인</a>
            <a class="nav-link" sec:authorize="isAuthenticated()" th:href="@{/user/logout}">로그아웃</a>
            <a class="nav-link" th:href="@{/user/signup}">회원가입</a>

        </div>
    </div>
</header>

